/*------------------------------------*\
  全局设定
\*------------------------------------*/

:root {
    --standard-curve: cubic-bezier(0.4, 0.0, 0.2, 1);
    --deceleration-curve: cubic-bezier(0.0, 0.0, 0.2, 1);
    --acceleration-curve: cubic-bezier(0.4, 0.0, 1, 1);
    --sharp-curve: cubic-bezier(0.4, 0.0, 0.6, 1);
    --hover-parameter: 0;
    --focus-parameter: 0;
    --ripple-background-parameter: 0;
    --increment: 64px;
    --keyline: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    display: flex;
    width: 100%;
    user-select: none;
    vertical-align: baseline;
    word-wrap: break-word;
    word-break: break-all;
    font-family: 'Roboto', 'Noto Sans SC', sans-serif;
    text-rendering: optimizeLegibility;
    image-rendering: -webkit-optimize-contrast;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--primary-text-color);
}

img {
    -webkit-user-drag: none;
    pointer-events: none;
}

::selection {
    color: var(--theme-base-color);
    background: var(--states-base-color);
}

/*------------------------------------*\
  按钮
\*------------------------------------*/

a {
    position: relative;
    display: flex;
    padding: 12px;
    margin: 0;
    color: inherit;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon path {
    fill: currentColor;
}

/*------------------------------------*\
  状态
\*------------------------------------*/

.ripples::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    background-color: var(--states-color);
    opacity: calc(var(--hover-alpha) * var(--hover-parameter) + var(--focus-alpha) * var(--focus-parameter) + var(--hover-alpha) * var(--ripple-background-parameter));
    transition-property: opacity;
    transition-duration: 195ms;
    transition-timing-function: linear;
}

.unbounded .ripples::before {
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 50%;
}

*:hover .ripples::before, *:focus .ripples::before {
    transition-duration: 225ms;
}

@media (hover: hover) {
    a:hover, picture:hover {
        --hover-parameter: 1;
    }
}

*:focus-visible {
    --focus-parameter: 1;
}

.pressed {
    --ripple-background-parameter: 1;
}

a {
    --states-color: var(--states-base-color);
    --hover-alpha: 0.04;
    --focus-alpha: 0.12;
    --ripple-foreground-alpha: 0.16;
}

.projects picture {
    --states-color: #000000;
    --hover-alpha: 0.12;
    --focus-alpha: 0.36;
    --ripple-foreground-alpha: 0.24;
}

#Shadowsocks {
    --states-color: #ffffff;
}

/*------------------------------------*\
  涟漪
\*------------------------------------*/

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    overflow: hidden;
    pointer-events: none;
}

.unbounded>.ripples {
    overflow: visible;
}

.ripples .foreground {
    position: absolute;
    width: min(var(--diameter), 700px);
    height: min(var(--diameter), 700px);
    background-color: var(--states-color);
    border-radius: 50%;
}

.ripples .foreground {
    animation-name: rippleForegroundFadeOut;
    animation-duration: 400ms;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

@keyframes rippleForegroundFadeOut {
    0% {
        opacity: var(--ripple-foreground-alpha);
    }
    100% {
        opacity: 0;
    }
}

/*------------------------------------*\
  字体排印
\*------------------------------------*/

h1{
    font-size: 34px;
    line-height: 30px;
    font-weight: 400;
    letter-spacing: 0em;
}

h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/*------------------------------------*\
  主信息
\*------------------------------------*/

.introduction {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--increment);
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    text-align: center;
    min-width: 384px;
    align-self: flex-start;
    position: sticky;
    top: 0;
}

.logo {
    height: 128px;
    margin-top: 64px;
}

.logo path {
    fill: var(--primary-text-color);
}

h1 {
    margin-top: 33px;
    user-select: text;
    font-family: 'Noto Sans SC', monospace;
    font-weight: 500;
}

.introduction>p {
    margin: 24px 0 30px 0;
    user-select: text;
    line-height: 30px;
}

h2 {
    margin-top: 51px;
    color: var(--primary-text-color);
}

.links {
    display: grid;
    margin-top: var(--keyline);
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: var(--keyline);
    column-gap: 24px;
    color: var(--primary-text-color);
}

/*------------------------------------*\
  方案成品
\*------------------------------------*/

.projects {
    display: flex;
    width: 100%;
    max-width: 1280px;
    flex-direction: column;
    margin-right: 64px;
}

picture {
    position: relative;
    width: 100%;
    margin-bottom: 8px;
    cursor: pointer;
}

picture:first-child {
    margin-top: 8px;
}

picture:last-child {
    margin-bottom: 40px;
}

picture img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    vertical-align: top;
}

#Ice_Box {
    background-color: #00E5FF;
}

#Shadowsocks {
    background-color: #90A4AE;
}

#IThome {
    background-color: #ffffff;
    outline: 1px rgba(0, 0, 0, 0.06) solid;
}

/*------------------------------------*\
  作品详情
\*------------------------------------*/

.project-page {
    z-index: 24;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: transparent;
    visibility: hidden;
    pointer-events: none;
    transition-property: background-color;
    transition-duration: 420ms;
    transition-timing-function: var(--standard-curve);
}

.project-page[class~=on] {
    visibility: visible;
    pointer-events: auto;
}

.project-content {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.project-content::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--theme-base-color);
}

/*------------------------------------*\
  跨屏幕
\*------------------------------------*/

@media screen and (max-width:960px) {
    body {
        flex-direction: column;
        align-items: center;
    }
    .introduction {
        align-self: unset;
        min-width: unset;
        position: relative;
    }
    .projects {
        max-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .projects {
        max-width: none;
    }
}

@media screen and (max-width:480px) {
    body {
        --increment: 56px;
        --keyline: 16px;
    }
    .introduction h1 {
        margin-top: 20px;
    }
    .introduction>p {
        margin: 16px 0 14px 0;
    }
    .logo {
        margin-top: 32px;
        height: 88px;
    }
    picture:first-child {
        margin-top: unset;
    }
}

/*------------------------------------*\
  主题
\*------------------------------------*/

@media (prefers-color-scheme: light) {
    :root {
        --theme-base-color: #ffffff;
        --states-base-color: #000000;
        --surface-background-color: #fafafa;
        --primary-text-color: rgba(0, 0, 0, 0.87);
        --secondary-text-color: rgba(0, 0, 0, 0.54);
        --hint-text-color: rgba(0, 0, 0, 0.38);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --theme-base-color: #000000;
        --states-base-color: #ffffff;
        --surface-background-color: #212121;
        --primary-text-color: rgba(255, 255, 255, 1);
        --secondary-text-color: rgba(255, 255, 255, 0.7);
        --hint-text-color: rgba(255, 255, 255, 0.5);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f5f5f5;
    }
    .introduction>p {
        color: rgba(0, 0, 0, 0.7);
    }
    .project-page[class~=on] {
        background-color: rgba(51, 51, 51, 0.4);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
    }
    .introduction>p {
        color: rgba(255, 255, 255, 0.7);
    }
    .project-page[class~=on] {
        background-color: rgba(255, 255, 255, 0.08);
    }
}